#view_battle{/* TABLE */

#logs{
	/* border: 1px solid #fff8e7; */
	margin:15px;
	background-color:#00202e;
	padding-bottom: 0px;
}
#logs div{
	padding-left:5px;
}

#logs td:nth-child(2n+1){
	padding-top:5px;
	background-color:#00202e;
	border: 1px solid #fff8e7;
	/* text-align: center; */
}
#logs td:nth-child(2n){
	padding-top:5px;
	background-color:#00202e;
	border: 1px solid #fff8e7;
	/* text-align: center; */
}
.battle_tables,table,th,td{
	/* border: 1px solid #00202e; */
	/* border-collapse: collapse; */
	/* text-align: center; */
}
/* .box { */
	/* border-color: grey; */
/* } */
/* .battle_tables th{ */
	/* text-align: center; */
	/* background-color:#aa4241; */
	/* color: #fff8e7; */
/* } */
/* .battle_tables tr:nth-child(2n+1) { */
	/* background-color: #ff8531; */
/* } */
/* .battle_tables tr:nth-child(2n) { */
	/* background-color: #ffac59; */
/* } */
/* .battle_tables td:nth-child(2n+1) { */
	/* background-color: #ffb03e; */
/* } */
.box_focus{
	color:#7fe4fb;
	background-color: #003f5c !important;
}

.fieldset{ /*table*/
	margin: 10px;
	padding: 5px;
}
label:after {
	display: block;
	content: " ";
	padding-bottom: 5px;
}
img {
	max-width: 24px;
	max-height: 24px;
}
.tt_parent:hover .tooltiptext {
  visibility: visible;
  pointer-events:none;
}
}