#view_character { 
	iframe{
	border: none;
	width: 100%;
	display:block;
}
button{
	max-width:280px;
}
#character_list button{
	text-align:left;
}

#character_name{
	background-color:#ffac59;
	width:300px;
}
#character_name:focus::placeholder {
  color: transparent;
}
}