iframe{
	border: none;
	width: 100%;
	display:block;
}
.horizontal {
	display:flex;
	flex-direction: row;
}
.vertical {
	display:flex;
	flex-direction: column;
}
button{
	max-width:280px;
}
#character_list button{
	text-align:left;
}
