body{
  font-family: Arial;
  background-image: url('../img/galaxy.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
label{
	color:"white";
}
.block{
	display:"block";
}
.tabcontent{
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
	background: #fff9c4;
}
td {
	max-width: 25px;
	min-width: 25px;
	height: 25px;
	background-color: blue;
	text-align: center;
	padding: 0;
	border: 0.5px solid green;
	
}
table {
	border-collapse: collapse;
	overflow: scroll;
	width:50%;
	padding:5px;
	height:200px;
}
.flex {
	display: flex;
}
iframe{
	border: none;
	width: 100%;
	display:block;
}
fieldset {
	/* display: flex; */
	flex-direction: column;
	display: inline-block;
}
#control_panel {
	display: flex;
	flex-direction: column;
}
#filename {
	color:"grey";
}
button{
	margin: 2px;
	box-shadow: 3px 3px #999;
	padding:1px;
}
button:focus{
	box-shadow: 1px 1px #333;
	transform: translateX(-2px);
	transform: translateY(2px);
}
input[type=text]{
	width: 100px;
}
input[type=number]{
	width: 40px;
}
.stuff{
	display:block;
}
.radio{
	display:flex;
	flex-direction: column;
}