td {
	max-width: 25px;
	min-width: 25px;
	height: 25px;
	background-color: blue;
	text-align: center;
	padding: 0;
	border: 0.5px solid green;
	
}
table {
	border-collapse: collapse;
}
body {
	display: flex;
}
fieldset {
	display: flex;
	flex-direction: column;
}
#control_panel {
	display: flex;
	flex-direction: column;
}
#filename {
	color:"grey";
}
button{
	margin: 5px;
	box-shadow: 3px 3px #999;
	padding:3px;
}
button:focus{
	box-shadow: 1px 1px #333;
	transform: translateX(-2px);
	transform: translateY(2px);
}
  