.footer a{
	/* padding:10px; */
	color:white;
}
.footer{
	background:#003f5c;
}
.column {
  float: left;
  /* width: 33.33%; */
  width: 50%;
  padding: 10px;
  /* height: 300px; /* Should be removed. Only for demonstration */ */
}