#centered_div { 
	width: 140px; 
	height: 70px; 
	position: absolute; 
	top: 50%; 
	left: 50%; 
	margin-left: -90px; 
	margin-top: -70px; 
	color:white;
	padding-top:5px;
}
body {
	background-image: url('../img/galaxy.webp');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
#error_display{
	color:red;
	min-height:40px;
}
span{
  display:flex;
  margin-bottom: 5px;
}