body {
	background-image: url('../img/galaxy.webp');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin:30px;
}
.content{
	background:#003f5c;
	color:#fff8e7;
	padding:20px;
}
a{
	color:yellow;
}
a:hover{
	color:orange;
}
.img{
	border:solid 1px #fff8e7;
	margin:20px;
}