/* tooltips */

a:link {
  color: #003f5c;
  text-decoration: underline;
}
a:visited {
  color: #003f5c;
  text-decoration: underline;
}
a:hover {
  color: yellow;
  text-decoration: underline;
}
a:active {
  color: red;
  text-decoration: underline;
}
.item_name, #fleet_speed {
  position: relative;
}

.tooltiptext {
  top: 90%; /*bottom: 100%; would make it appear on top of the text*/
  left: 15%;
  margin-left: -60px;
}
#fleet_speed .tooltiptext{
	margin-top:10px;
}
/*making tooltip visible when hovering above text*/
#fleet_speed:hover .tooltiptext, .item_name:hover .tooltiptext {
  visibility: visible;
  pointer-events:none;
}
/* TABLE */

table,th,td{
	border: 1px solid #00202e;
	border-collapse: collapse;
	text-align: left;
	/* padding:10px; */
	background-size: 100% auto;
	border-collapse: collapse;
}
input {
	max-width:50px;
	background-color:inherit;
	border-color:#ffd380;
	height:20px;
	padding:2px;
}
#space_map td {
	background-color: blue;
	text-align: center;
	padding: 0;
	border-collapse: none;
	/* padding-bottom: 0px; */
	border: 0.5px solid green;

}
label:after {
	display: block;
	content: " ";
	padding-bottom: 5px;
}
label:before {
	display: block;
	content: " ";
	padding-bottom: 5px;
}
#space_map img {
	max-width: 100%; 
	max-height: 100%;
	vertical-align: top;
}
img {
	max-width: 24px; 
	max-height: 24px;
}
#tile_resource_img {
	max-width: 18px; 
	max-height: 18px;
}
.left_panel {
	min-width: 100px;
}
/* THE CONTENT OF A TAB */
fieldset{
	border:1px #003f5c solid;
}
.tabcontent { 
  padding: 6px 12px;
  border:none;
  background: #00202e; /*rgba(252, 241, 220,0.6)*/
  display:flex;
}
#starmap td{
	min-width: 70px;
	height: 19px;
	text-align: center;
}
/* inputs */
#give_credits_amount{
	background-color:#ffac59;
	min-width: 200px;
	/* color:white; */
}
#ship_name{
	background-color:#ffac59;
	min-width:200px;
	/* color:white; */
}
#other_name{
	background-color:#003f5c;
	color:white;
	border: 2px solid rgb(0, 191, 255);
	margin:3px;
	width:200px;
	padding:5px 10px;
}
#give,#take, #inv_btns{
	margin: 5px 0px;
}
.inv_active,#inv_btns button:hover{
	border: 2px solid rgb(0, 191, 255)!important; 
	border-bottom:none!important;
	margin:0px;
}
#inv_btns button{
	background-color:inherit;
	background-image:none;
	border:none;
	color:orange;
	margin:2px;
	border-bottom:2px solid rgb(0, 191, 255);
	border-radius:2px;
}
/* COLOURS */

/* tumesinine #003d61;  */
/* helelilla #e1bee7; */
/* tumelilla #ba68c8; */
/* lillakaspunane #61003D */
/* hämarroheline #3D6100 */
/* lilla #ce93d8; */
/* helesinine #b2dfdb; */
/* oranz-kollane #ffca28; */
/* rohekas-hall #f0f4c3; */

/*parem klikk*/
/* #ctxMenu{ */
    /* display:none; */
    /* z-index:100; */
/* } */
/* #notepad{ */
    /* position:absolute; */
    /* left:25%; */
    /* top:10%; */
    /* width:300px; */
    /* height:300px; */
    /* background-color:red; */
/* } */
/* menu { */
    /* position:absolute; */
    /* display:block; */
    /* left:0px; */
    /* top:0px; */
    /* height:20px; */
    /* width:20px; */
    /* padding:0; */
    /* margin:0; */
    /* border:1px solid; */
    /* background-color:white; */
    /* font-weight:normal; */
    /* white-space:nowrap; */
/* } */
/* menu:hover{ */
    /* background-color:#eef; */
    /* font-weight:bold; */
/* } */
/* menu:hover > menu{ */
    /* display:block; */
/* } */
/* menu > menu{ */
    /* display:none; */
    /* position:relative; */
    /* top:-20px; */
    /* left:100%; */
    /* width:55px; */
/* } */
/* menu[title]:before{ */
    /* content:attr(title); */
/* } */
/* menu:not([title]):before{ */
    /* content:"\2630"; */
/* } */