body{
  font-family: Arial;
  background-image: url('../img/galaxy.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* TABLE */

table,th,td{
	border:none;
	/* border-collapse: collapse; */
	text-align: right;
}
th, td {
	padding: 3px 5px;
}
th{
	text-align: center;
	background-color:#61003D;
	color: white;
	padding:5px;
}
input {
	max-width:50px;
	background-color:inherit;
	border-color:black;
}
tr:nth-child(odd) {
	background-color: #ce93d8;
}
tr:nth-child(even) {
	background-color: #e1bee7;
}
td:nth-child(odd) {
	background-color:	 #ba68c8 ;
}

.left_panel {
	min-width: 100px;
}

.general_tabs {
  overflow: hidden;
  background-color: #003d61;
  width: 100%;
}

/* tumesinine #003d61;  */
/* helelilla #e1bee7; */
/* tumelilla #ba68c8; */
/* lillakaspunane #61003D */
/* hämarroheline #3D6100 */
/* lilla #ce93d8; */
/* helesinine #b2dfdb; */
/* oranz-kollane #ffca28; */
/* rohekas-hall #f0f4c3; */

#navigate{
	background-color: #f0f4c3;
	color:black;
}
/* Style the buttons inside the tab */
.general_tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color:white;
}

/* Change background color of buttons on hover */
.general_tabs button:hover {
  background-color: #005c99;
}

/* THE CONTENT OF A TAB */

.tabcontent {
  padding: 6px 12px;
  border:none;
  background: #f0f4c3; /*rgba(252, 241, 220,0.6)*/
}

.tabcontent button{
	background-color:#ffffcc;
	box-shadow: 1px 1px #ffca28;
	border: 1px solid black;
}
.tabcontent button:active {
  box-shadow: 1px 1px #ffca28;
  transform: translateY(3px);
}

#space_map td {
	max-width: 50px;
	min-width: 50px;
	height: 50px;
	background-color: blue;
	text-align: center;
	padding: 0;
	border: 0.5px solid green;
}
#inventory td {
	padding: 2px;
	border: 0.5px solid black
}
table {
	border-collapse: collapse;
}
img {
	max-width: 100%; 
	max-height: 100%;
	vertical-align: top;
}

