body{
	width: 100%;
	background-color: #003d61;
	overflow: hidden;
	margin:0;
}

button {
  background-color: #003d61;
  border: none;
  float: left;
  cursor: pointer;
  padding: 15px 15px;
  font-size: 17px;
  color:white;
}
button:hover {
  background-color: #0081cc;
  color:black;
}
button.active {
  background-color: #99daff;
  color:black;
}