.navbar button, .navbar a{
	text-decoration: none;
	background-color: #003f5c;
	border: none;
	float: left;
	cursor: pointer;
	padding: 15px 15px;
	font-size: 17px;
	color:#fff8e7;
}
.navbar {
	background-color: #003f5c;
	padding-left:1rem;
}
.disabled{
	background-color: #01334a!important;
	color: darkgray!important;
	pointer-events: none;
	cursor: default;
}
.navbar label {
	background-color: #ffb03e;
	border: none;
	float: left;
	padding: 3px;
	font-size: 17px;
	color:black;
}
.navbar button:hover{
	background-color: #00202e;
	color:#fff8e7;
}
.navbar button.active{
	background-color: #00202e;
	color:#fff8e7;
}
#link_list{
	margin-top:45px;
	display:flex;
	flex-direction:column;
}
#bar_dock:hover{
	background-color: #8a508f;
	color:black;
}
#bar_dock.active{
	background-color: #8a508f;
	color:black;
}
#bar_login{
	background-color: #ff595e;
	color:black;
}
#bar_more{
	background-color: #ffa31a;
	border: none;
	cursor: pointer;
	padding: 15px 15px;
	font-size: 17px;
	color:#fff8e7;
}
.right{
	display: flex;
	justify-content: right;
}
.more_buttons{
	padding:2px !important;
}