body{
  font-family: Arial;
  background-image: url('../img/galaxy.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

iframe{
	border: none;
	width: 100%;
	display:block;
}

/* THE CONTENT OF A TAB */

.tabcontent {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  background: #FFF6BA;
}
fieldset{
	border:5px #ffed79 solid;
}
