.tabcontent { 
	padding: 6px 12px;
	border:none;
	background: #00202e; /*rgba(252, 241, 220,0.6)*/
	color:white;
}
label{
	padding-right: 5px;
}
.desc_label{
	padding-left: 25px;
}

a:link {
  color: green;
  text-decoration: none;
}
a:visited {
  color: pink;
  text-decoration: none;
}
a:hover {
  color: yellow;
  text-decoration: underline;
}
a:active {
  color: red;
  text-decoration: underline;
}



.space {
  height: 10px;
}

.checkbox * {
  box-sizing: border-box;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox {
  display: inline-block;
}

.checkbox > input {
  display: none;
}

.checkbox > label {
  vertical-align: top;
  font-size: 18px;
  padding-left: 30px;
}

.checkbox > [type="checkbox"] + label:before {
  color: #777;
  content: '';
  position: absolute;
  left: 0px;
  display: inline-block;
  min-height: 20px;
  height: 20px;
  width: 20px;
  border: 2px solid #777;
  font-size: 15px;
  vertical-align: top;
  text-align: center;
  transition: all 0.2s ease-in;
  content: '';
}

.checkbox.radio-square > [type="checkbox"] + label:before {
  border-radius: 0px;
}

.checkbox.radio-rounded > [type="checkbox"] + label:before {
  border-radius: 25%;
}

.checkbox.radio-blue > [type="checkbox"] + label:before {
  border: 2px solid #ccc;
}

.checkbox > [type="checkbox"] + label:hover:before {
  border-color: linear-gradient(to left, #03001e, #7303c0, #ec38bc);
}

.checkbox > [type="checkbox"]:checked + label:before {
  width: 8px;
  height: 16px;
  border-top: transparent;
  border-left: transparent;
  border-color: green;
  border-width: 4px;
  transform: rotate(45deg);
  top: -4px;
  left: 4px;
}