.tabcontent { 
	padding: 6px 12px;
	border:none;
	background: #00202e; /*rgba(252, 241, 220,0.6)*/
	color:white;
}
label{
	padding-right: 5px;
}
.desc_label{
	padding-left: 25px;
}

a:link {
  color: green;
  text-decoration: none;
}
a:visited {
  color: pink;
  text-decoration: none;
}
a:hover {
  color: yellow;
  text-decoration: underline;
}
a:active {
  color: red;
  text-decoration: underline;
}