/* TABLE */

table,th,td{
	border:none;
	/* border-collapse: collapse; */
	text-align: right;
	padding-bottom: 10px;
}
th, td {
	padding: 3px 5px;
}
th{
	text-align: center;
	background-color:#aa4241;
	color: white;
	padding:5px;
}
input {
	max-width:70px;
	background-color:inherit;
	border-color:#aa4241;
	height:25px;
	padding:2px;
}
tr:nth-child(odd) {
	background-color: #ff8531;
}
tr:nth-child(even) {
	background-color: #ffac59;
}
td:nth-child(odd) {
	background-color: #ffb03e;
}
fieldset{
	border: 5px #ff8531 solid;
}
/* CONSTRUCTION */
/* blueprint info */
#info{
	width:100%;
	position: relative;
}
/* blueprint info build button */
#build{
	position:absolute;
	right:20px;
	bottom:20px;
	width:70px;
}
/* blueprint1,blueprint2,... */
.blueprints button{
	width: 150px;
	padding: 5px;
}
.blueprints{
	padding:0px;
	margin:0px;
}

/* GENERAL STYLING */

.fieldset{ /*table*/
	margin: 10px;
	padding: 5px;
}
.name{
	text-align: left;
}
.no_padding {
	padding: 0;
}
.no_border {
	border: 0;
}
.full_width {
	width: 100%;
}
.horizontal {
	display:flex;
	flex-direction: row;
}


label:after {
	display: block;
	content: " ";
	padding-bottom: 5px;
}
.vertical {
	display:flex;
	flex-direction: column;
}

body{
	font-family: Arial;
	background-image: url('../img/galaxy.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
iframe{
	border: none;
	width: 100%;
	display:block;
}

/* TABS */

/* ITEMS,SHIPS,QUESTS,CONSTRUCTION,.. */
/* general background */
.shoptabs {
  overflow: hidden;
  border: none;
  background-color: #bc5090;
  padding:0;
}
/* general button styling */
.shoptabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 7px 8px;
  transition: 0.3s;
  font-size: 17px;
}

.shoptabs button:hover {
  background-color: #ff8531;
}

.shoptabs button.active {
  background-color: #ff8531;
}
/* COMMODITY,STATION,... */
#itemtabs {
	overflow: hidden;
	border: none;
	background-color: #ff8531;
}
#itemtabs button {
	background-color: #ff8531;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 7px 8px;
	transition: 0.3s;
	font-size: 17px;
	color:black;
}

#itemtabs button:hover {
  background-color: #ffac59;
  color:black;
}
#itemtabs button.active_itemtab {
  background-color: #ffac59;
  color:black;
}
/* THE CONTENT OF A TAB */

.tabcontent {
  border-top: none;
  background: #ffd380;
}
.error_display{
	min-height:10px;
	display:block;
	min-width:inherit;
	color:red;
	background-color:#ffac59;
}
#divider{
	min-height:10px;
	background-color:#ff8531;
}

/* tooltips */

.item_name {
  position: relative;
}

.item_name .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 10%;
  margin-left: -60px;
}

.item_name:hover .tooltiptext {
  visibility: visible;
}
.item_name .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
/* BUTTONS */

.padded_buttons{
	margin-top: 60px;
}

.tabcontent button{
	background-color:#ffffcc;
	border: 1px solid black;
	font-size: 14px;
	max-width:300px;
	max-height: 100px;
	min-height:27px;
	min-width: 40px;
}
.tabcontent button:active {
  box-shadow: 1px 1px #ffca28;
  transform: translateY(3px);
}
#Construction{
	border-collapse:collapse;
}

#Construction td {
   border:1px solid #000;
}
#Construction th {
   background-color:#61003D;
}

#icon{
	position: relative;
    top: 0px;
    right: 0px;
}


/* NOT IN USE CURRENTLY */

/* fieldset{ */
	/* margin: 10px; */
	/* padding: 5px; */
	/* background: rgba(252, 241, 220,0.01); */
	/* border: none; */
	/* border: double orange 1em; */
	/* border-image: url("groovy-border-image-slice2.png") 70 70 round round; */
/* } */

/* .square { */
	/* border-radius: 0; */
/* } */