/* TABLE */

table,th,td{
	border:none;
	/* border-collapse: collapse; */
	text-align: right;
	padding-bottom: 10px;
}
th, td {
	padding: 3px 5px;
}
th{
	text-align: center;
	background-color:#61003D;
	color: white;
	padding:5px;
}
input {
	max-width:50px;
	background-color:inherit;
	border-color:black;
}
tr:nth-child(odd) {
	background-color: #ce93d8;
}
tr:nth-child(even) {
	background-color: #e1bee7;
}
td:nth-child(odd) {
	background-color:	 #ba68c8 ;
}


/* COLOURS */
/* tumesinine #003d61;	*/
/* helelilla #e1bee7; */
/* tumelilla #ba68c8; */
/* lillakaspunane #61003D */
/* hämarroheline #3D6100 */
/* lilla #ce93d8; */
/* helesinine #b2dfdb; */
/* oranz-kollane #ffca28; */
/* rohekas-hall #f0f4c3; */
/* hele-oranž #ffe699*/
/* keskmine-oranž #ffd24d*/


/* GENERAL STYLING */

.fieldset{ /*table*/
	margin: 10px;
	padding: 5px;
}
.name{
	text-align: left;
}
.no_padding {
	padding: 0;
}
.no_border {
	border: 0;
}
.full_width {
	width: 100%;
}
.horizontal {
	display:flex;
	flex-direction: row;
}


label:after {
	display: block;
	content: " ";
	padding-bottom: 5px;
}
.vertical {
	display:flex;
	flex-direction: column;
}

body{
	font-family: Arial;
	background-image: url('../img/galaxy.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
iframe{
	border: none;
	width: 100%;
	display:block;
}

/* TABS */

#shop{
	background-color: #ffe699;
	color:black;
}

/* the tab */
.shoptabs {
  overflow: hidden;
  border: none;
  background-color: #ffe699;
  padding:0;
}

.shoptabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 7px 8px;
  transition: 0.3s;
  font-size: 17px;
}

.shoptabs button:hover {
  background-color: #ffd24d;
}

.shoptabs button.active {
  background-color: #ffca28;
}

.general_tabs {
  overflow: hidden;
  border: none;
  background-color: #003d61;
  width: 100%;
}

.general_tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color:white;

}

.general_tabs button:hover {
  background-color: #f0f4c3;
  color:black;
}
#itemtabs {
	overflow: hidden;
	border: none;
	background-color: #788118;
}
#itemtabs button {
	background-color: #788118;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 7px 8px;
	transition: 0.3s;
	font-size: 17px;
	color:white;
}

#itemtabs button:hover {
  background-color: #f0f4c3;
  color:black;
}

/* THE CONTENT OF A TAB */

.tabcontent {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  background: #fff9c4;
}
#quest_selection{
	border:1px;
}

/* BUTTONS */

.padded_buttons{
	margin-top: 60px;
}

.tabcontent button{
	background-color:#ffffcc;
	box-shadow: 1px 1px #ffca28;
	border: 1px solid black;
	font-size: 14px;
	max-width:300px;
	max-height: 100px;
	min-height:27px;
	min-width: 40px;
}
.tabcontent button:active {
  box-shadow: 1px 1px #ffca28;
  transform: translateY(3px);
}
#Construction{
	border-collapse:collapse;
}

#Construction td {
   border:1px solid #000;
}
#Construction th {
   background-color:#61003D;
}

#icon{
	position: relative;
    top: 0px;
    right: 0px;
}


/* NOT IN USE CURRENTLY */

/* fieldset{ */
	/* margin: 10px; */
	/* padding: 5px; */
	/* background: rgba(252, 241, 220,0.01); */
	/* border: none; */
	/* border: double orange 1em; */
	/* border-image: url("groovy-border-image-slice2.png") 70 70 round round; */
/* } */

/* .square { */
	/* border-radius: 0; */
/* } */