.ssh
__pycache__
server/data/*
!**/server/data/defs
!**/server/data/systems
!**/server/data/basemaps
!**/server/data/prices
!**/server/data/items
!**/server/data/premade_ships
!**/server/data/loot
!**/server/data/blueprints
!**/server/data/excavations
!**/server/data/spawners
!**/server/data/ship_types
!**/server/data/quests
!**/server/data/lore
!**/server/data/industries
config.json
obtainable.json
unobtainable.json
