.ssh
__pycache__
data
log
config.json
obtainable.json
unobtainable.json
dumpable.json
undumpable.json
item_types.json
skill_items.json
_cache
output

# Ignore all CSV files in the item explorer
tools/item_usage/*.csv